$color_1: black;
$color_2: white;
$color_3: #fff;
$font-family_1: "Montserrat", sans-serif;
$background-color_1: white;
$background-color_2: #000;
$background-color_3: grey;
$background-color_4: orange;

@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Protest+Guerrilla&display=swap";
/*font-family: 'Montserrat', sans-serif;*/
/* Teléfonos */
/*.tapa
{background-image: url(img/bird2.jpg)}
*/
/*Teléfono*/
/* Tablet */
/* Computadora */
/*
@media only screen and (min-width: 901px) {
    .gallery-container{grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: repeat(4, 200px);}
}*/

html {
	scroll-behavior: smooth;
}
header {
	height: 80px;
	width: 100%;
	background-color: $background-color_1;
	padding: 20px;
	font-size: 22px;
	font-family: $font-family_1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: center;
}


.flex-item {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 200px;
	justify-content: flex-start;
	display: flex;
	padding-left: 20px;
	img {
		cursor: pointer;
	}

}
main {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: left;
	font-family: $font-family_1;
}
.call {
	color: $color_1;
	background-color: $background-color_1;
	width: 60%;
	float: right;
	margin: 30px;
	font-family: $font-family_1;
	p {
		margin-bottom: 20px;
	}
	a {
		background-color: $background-color_3;
		padding: 10px 20px;
		color: $color_3;
		text-decoration: none;
		border-radius: 10px;
	}
}
h1 {
	color: $color_1;
	margin-bottom: 20px;
}
h2 {
	text-align: center;
	background-color: $background-color_1;
	text-align: center;
	text-transform: uppercase;
	padding: 20px;
	font-family: $font-family_1;
}

form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.descripcion_del_equipo{
	p {text-align: center;}
}

.carousel-item {
	h5{
		background-color:black;
		color:white;
	}
	
	img{aspect-ratio: 3/2;
	width: 100%;
	height: auto;
	}
}



.team {
	display: flex;
	align-items: center;
	flex-wrap:wrap;
	justify-content:space-around;
	p {
		text-align: center;
	}
}

.team-image {
	width: 250px;
	height: auto;
}

.team-caption {
	margin-top: 3px;
	font-size: small;
	text-align: center;
} 

.team-description {
	font-size: smaller;
	text-align: center;
} 

/*
.gallery-container {
	height: auto;
	width: 100%;
	background-color: $background-color_1;
	display: grid;
	grid-gap: 20px;
	padding: 20px;
	grid-template-columns: repeat(3, fr fr fr);
	grid-template-rows: repeat(2,150px);
	grid-template-areas: "gallery-img1 gallery-img2 gallery-img3" "gallery-img4 gallery-img5 gallery-img6";
}
.gallery-item {
	border: 3px solid black;
	background-size: cover;
	background-position: center;
	filter: grayscale(80%);
	transition: all 0,9s;
	&:hover {
		filter: grayscale(0%);
		transform: scale(1.03);
	}
}
.gallery-item1 {
	grid-area: gallery-img1;
}
.gallery-item2 {
	grid-area: gallery-img2;
}
.gallery-item3 {
	grid-area: gallery-img3;
}
.gallery-item4 {
	grid-area: gallery-img4;
	background-image: url(img/paramount.png);
}
.gallery-item5 {
	grid-area: gallery-img5;
	background-image: url(img/netflix.png);
}
.gallery-item6 {
	grid-area: gallery-img6;
	background-image: url(img/appletv.jpg);
}
*/

form{ 
	input[type=text]{
		border: 1px solid;
		border-radius: 5px;
	  }
	textarea{
		border: 1px solid ;
		border-radius: 5px;
	  }
	input[type=submit]{
		border: 1px solid ;
		border-radius: 5px;
	  }
	}



.galeria {
	height: auto;
	width: 100%;
	background-color: $background-color_1;
	display: grid;
	grid-gap: 20px;
	padding: 20px;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,180px);
	grid-template-areas: "img1 img2 img3" "img1 img4 img5" "img7 img4 img6";
	a {
		color: $color_2;
		font-size: larger;
		font-family: $font-family_1;
		background-color: $background-color_2;
		text-decoration: none;
	}
}
.item {
	border: 3px solid black;
	background-size: cover;
	background-position: center;
	filter: grayscale(80%);
	transition: all 0,9s;
	&:hover {
		filter: grayscale(0%);
		transform: scale(1.03);
	}
}
.item1 {
	grid-area: img1;
	background-image: url(img/leftovers.jpg);
}
.item2 {
	grid-area: img2;
	background-image: url(img/amor.jpg);
}
.item3 {
	grid-area: img3;
	background-image: url(img/newlook.jpg);
}
.item4 {
	grid-area: img4;
	background-image: url(img/crazy.jpg);
}
.item5 {
	grid-area: img5;
	background-image: url(img/samurai.jpg);
}
.item6 {
	grid-area: img6;
	background-image: url(img/Balenciaga.jpeg);
}
.item7 {
	grid-area: img7;
	background-image: url(img/tourist.jpg);
}
.item8 {
	grid-area: img8;
	background-image: url(img/shogun.jpg);
}
footer {
	background-color: $background-color_1;
	color: $color_1;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	font-family: $font-family_1;
	p {
		margin-bottom: 20px;
	}
}
.redes {
	a {
		color: $color_1;
		text-decoration: none;
		font-size: 30px;
	}
}

@media only screen and (max-width: 480px) {
	.galeria {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 75px);
		grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7";
	}
	.team-image {
		width: 150px;
		height: auto;
	}
/*
	.gallery-container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 120px);
		grid-template-areas: "gallery-img1" "gallery-img2" "gallery-img3" "gallery-img4" "gallery-img5" "gallery-img6";
	}
	*/
	.navbar {
		font-size: 13px;
	}

	.item{
	filter: none;
	transition: none;
	}

	/*
	.gallery-item{
		filter: none;
		transition: none;
		}
*/

	.logo{display: none;
	}

	.portada {
		display: flex;
		justify-content: center;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
	.galeria {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(4, 200px);
		grid-template-areas: "img1 img2" "img3 img4" "img3 img5" "img6 img7";
	}
	/*
	.gallery-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 200px);
		grid-template-areas: "gallery-img1 gallery-img2" "gallery-img3 gallery-img4" "gallery-img5 gallery-img6";
	}*/
	.navbar {
		font-size: 15px;
	}

	.team-image {
		width: 200px;
		height: auto;
	}

	.portada {display: none;}

}



@media only screen and (min-width: 769px) {
	.galeria {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.portada {display: none;}
}

@media only screen and (min-width: 900px) {
	.team-image{
		width: 300px;
		height:auto;
	}
}
